{% extends 'layout.html' %}

{% block pageTitle %}
  Blank transactional template - NHS.UK prototype kit
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <!-- Add your content here -->

      <h1>
 <span class="nhsuk-caption-xl nhsuk-caption--bottom ">
          NHS.UK Redesign
        </span>
        Warning callout
      </h1>


      <p>Warn users about something important. There are a number of different styles of warning callout on NHS.UK and there is a need to consoldiate.</p>


      <h2>Testing overview</h2>

        <h3><a href="">Popup, Leeds library - 1 June 2018</a></h3>
      <p class="nhsuk-body-s">
      <strong>What was tested:</strong> Warning callout version 1 on Medicines page (mobile)<br />
      <strong>Number of users:</strong> 30</p>
      <ol>  
      <li>Do users notice the warning call out in relation to other content on the page?</li>
      <li>Are they seeing it with its intended prominence related to other content on page?</li>
      <li>Do they understand what it means?</li>
      </ol>
<hr />

      <h3><a href="">Usability lab, Leeds - 13 June 2018</a></h3>
      <p class="nhsuk-body-s">
      <strong>What was tested:</strong> Warning callout version 3 on Conditions page (desktop)<br />
      <strong>Number of users:</strong> 5</p>
      <ol>  
      <li>Do users notice the warning call out in relation to other content on the page?</li>
      <li>Are they seeing it with its intended prominence related to other content on page?</li>
      <li>Do they understand what it means?</li>
      </ol>
<hr />


      <h3><a href="">Usability lab, Leeds- 20 June 2018</a></h3>
      <p class="nhsuk-body-s">
      <strong>What was tested:</strong> Warning callout version 4 on Conditions page (desktop)<br />
      <strong>Number of users:</strong> 5</p>
      <ol>  
      <li>Do users notice the warning call out in relation to other content on the page?</li>
      <li>Are they seeing it with its intended prominence related to other content on page?</li>
      <li>Do they understand what it means?</li>
      </ol>
<hr />


<h2>Project stage</h2>
<p>The warning callout is now live on NHS.UK and is documented on <a href="https://beta.nhs.uk/service-manual/styles-components-patterns/warning-callout">NHS Digital Service Manual.</a></p>

<div class="nhsuk-table-responsive">
  <table class="nhsuk-table">
    <caption class="nhsuk-table__caption">Skin symptoms and possible causes</caption>
    <thead class="nhsuk-table__head">
      <tr class="nhsuk-table__row">
        <th class="nhsuk-table__header" scope="col">Assessment</th>
        <th class="nhsuk-table__header" scope="col">Status</th>
      </tr>
    </thead>
    <tbody class="nhsuk-table__body">
      <tr class="nhsuk-table__row">
        <td class="nhsuk-table__cell">Design Governance Board</td>
        <td class="nhsuk-table__cell ">Passed</td>
      </tr>
    </tbody>
  </table>
</div>


<h2>Related projects</h2>
    <ul>
        <li><a href="">Care cards</a></li>
        <li><a href="">Do and don't lists</a></li>
        <li><a href="">Inset text</a></li>
    <ul>


    </div>  

  </div>
{% endblock %}
