{% extends 'layout.html' %}

{% block pageTitle %}
  Teams - User research repository
{% endblock %}

{% block beforeContent %}
{{ breadcrumb({
  items: [
  ],
  href: "/version-1",
  text: "Home"
}) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <!-- Add your content here -->

      

      <h1>
        Teams
      </h1>
<p class="nhsuk-body-l">Find user research we've been doing by team.</p>


     <!--{{ azNav({
  "items": [
    {
      "label": "A"
    },
    {
      "disable": "true",
      "label": "B"
    },
    {
      "label": "C"
    },
    {
      "label": "D"
    },
    {
      "label": "E"
    },
    {
      "label": "F"
    },
    {
      "label": "G"
    },
    {
      "label": "H"
    },
    {
      "label": "I"
    },
    {
      "label": "J"
    },
    {
      "label": "K"
    },
    {
      "label": "L"
    },
    {
      "label": "M"
    },
    {
      "label": "N"
    },
    {
      "label": "O"
    },
    {
      "label": "P"
    },
    {
      "label": "Q"
    },
    {
      "label": "R"
    },
    {
      "label": "S"
    },
    {
      "label": "T"
    },
    {
      "label": "U"
    },
    {
      "label": "V"
    },
    {
      "label": "W"
    },
    {
      "label": "X"
    },
    {
      "label": "Y"
    },
    {
      "label": "Z"
    }
  ]
}) }}-->
        
      
{{ listPanel({
  "label": "A",
  "id": "A",
  "items": [
    {
      "URL": "#",
      "link": "Abdominal Aortic Aneurysm screening "
    },
        {
      "URL": "#",
      "link": "Adoption Registration Service "
    }
    ,
        {
      "URL": "#",
      "link": "Adult Social Care Outcomes Framework (ASCOF) "
    }
  ]
}) }}

{{ listPanel({
  "label": "B",
  "id": "B",
  "items": [
    {
      "URL": "#",
      "link": "Benefits management "
    },
    {
      "URL": "#",
      "link": "Birth notification service "
    },
    {
      "URL": "#",
      "link": "Bowel cancer screening "
    },
    {
      "URL": "#",
      "link": "Breast screening services "
    }
    ,
    {
      "URL": "#",
      "link": "Bureau Service Portal"
    }
  ]
}) }}

{{ listPanel({
  "label": "C",
  "id": "C",
  "items": [
    {
      "URL": "#",
      "link": "Calculating Quality Reporting Service (CQRS) "
    },
    {
      "URL": "#",
      "link": "Calculating Quality Reporting Service bureau "
    }
    ,
    {
      "URL": "#",
      "link": "Cancer Screening Programme National Statistics "
    }
    ,
    {
      "URL": "#",
      "link": "Cancer Waiting Times system "
    }
    ,
    {
      "URL": "#",
      "link": "Care Integration and Orchestration "
    }
    ,
    {
      "URL": "#",
      "link": "Check for National Data Opt-outs Service "
    }
  ]
}) }}
       

{{ listPanel({
  "label": "D",
  "id": "D",
  "items": [
    {
      "URL": "#",
      "link": "Developer resources"
    },
    {
      "URL": "#",
      "link": "Digital Learning Solutions "
    }
  ]
}) }}

{{ listPanel({
  "label": "E",
  "id": "E",
  "items": [
    {
      "URL": "#",
      "link": "Electronic Prescription Service"
    },
    {
      "URL": "#",
      "link": "e-Referral Service "
    }
  ]
}) }}

{{ listPanel({
  "label": "F",
  "id": "F",
  "items": [
      {
      "URL": "#",
      "link": "Future GP IT systems and services"
    }

  ]
}) }}
{{ listPanel({
  "label": "G",
  "id": "G",
  "items": [

        {
      "URL": "#",
      "link": "GP Systems of Choice"
    }

  ]
}) }}


{{ listPanel({
  "label": "H",
  "id": "H",
  "items": [
    {
      "URL": "#",
      "link": "Health Survey for England Bloodbank"
    },
        {
      "URL": "#",
      "link": "Health Surveys Service"
    }
  ]
}) }}

{{ listPanel({
  "label": "I",
  "id": "I",
  "items": [
    {
      "URL": "#",
      "link": "Integrated Urgent Care Domain Message Specification"
    }
    ,
        {
      "URL": "#",
      "link": "Interoperability Toolkit"
    },
        {
      "URL": "#",
      "link": "iView and iViewPlus"
    }
  ]
}) }}

{{ listPanel({
  "label": "J",
  "id": "J",
  "items": [

  ]
}) }}
{{ listPanel({
  "label": "K",
  "id": "K",
  "items": [

  ]
}) }}
{{ listPanel({
  "label": "L",
  "id": "L",
  "items": [
  {
      "URL": "#",
      "link": "Local Service Providers"
    }

  ]
}) }}

{{ listPanel({
  "label": "M",
  "id": "M",
  "items": [
  {
      "URL": "#",
      "link": "Message Exchange for Social Care and Health (MESH)"
    }

  ]
}) }}

{{ listPanel({
  "label": "N",
  "id": "N",
  "items": [
    {
      "URL": "#",
      "link": "National data opt-out programme"
    },
        {
      "URL": "/teams/redesign",
      "link": "NHS.UK Redesign"
    }
  ]
}) }}

{{ listPanel({
  "label": "O",
  "id": "O",
  "items": [
  ]
}) }}

{{ listPanel({
  "label": "P",
  "id": "P",
  "items": [

    {
      "URL": "#",
      "link": "Personal Health Records adoption service"
    },
        {
      "URL": "#",
      "link": "Primary Care Information Service"
    }
  ]
}) }}

{{ listPanel({
  "label": "Q",
  "id": "Q",
  "items": [
  ]
}) }}

{{ listPanel({
  "label": "R",
  "id": "R",
  "items": [
  ]
}) }}

{{ listPanel({
  "label": "S",
  "id": "S",
  "items": [
    {
      "URL": "#",
      "link": "Survey banner"
    }
  ]
}) }}

{{ listPanel({
  "label": "T",
  "id": "T",
  "items": [
  ]
}) }}

{{ listPanel({
  "label": "U",
  "id": "U",
  "items": [
  ]
}) }}

{{ listPanel({
  "label": "V",
  "id": "V",
  "items": [
  ]
}) }}
        


    </div>  

  </div>
{% endblock %}
